<div>
    <table>
        <thead>
            <th>One</th>
            <th>Two</th>
        </thead>
        <tbody>
            <tr>
                <td>hello</td>
                <td>hello</td>
            </tr>
            <tr>
                <td>hello</td>
                <td>hello</td>
            </tr>
            <tr>
                <td>hello</td>
                <td>hello</td>
            </tr>
            <tr>
                <td>hello</td>
                <td>hello</td>
            </tr>
        </tbody>
    </table>
</div>